<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome</h2>
    <h3>Anjali Patel</h3>
    <a href="/js/task01">dynamic table</a><br>
    <a href="/js/task02">events</a><br>
    <a href="/js/task03">kuku kube</a><br>
    <a href="/js/task04">tic-tac-toe</a><br>
    <a href="/js/task05">form</a><br>
    <a href="/task06">searching</a><br>
    <a href="/task07">attendance</a><br>
    <!-- <a href="/task08">monthly attendance</a><br> -->
    <a href="/task09">sorting by column</a><br>
    <a href="/task10">AJAX CRUD</a><br>
    <a href="/js/task11">fetch API data</a><br>
    <a href="/task12">delimiter</a><br>
    <a href="/task13">radio-button generator</a><br>
    <a href="/task14">searching by id</a>

</body>
</html>